<a class="btn btn-success" routerLink="/services/create">Créer un service</a>
<p-table [value]="services">
  <ng-template pTemplate="header">
    <th>Nom </th>
    <th>Prix </th>
    <th>Durée </th>
    <th>Comission</th>
    <th></th>
    <th></th>
  </ng-template>
  <ng-template pTemplate="body" let-service>
    <tr>
      <td> {{ service.nom_service }}</td>
      <td> {{ service.prix }}</td>
      <td> {{ service.duree }}</td>
      <td> {{ service.comission }}</td>
      <td ><a class="btn btn-warning" [routerLink]="'/services/update/' + service._id">Mettre à jour</a></td>
      <td><button class="btn btn-danger" (click)="deleteService(service._id)">Supprimer le service</button></td>
    </tr>

  </ng-template>
</p-table>

