<div class="mb-3" style="padding-bottom: 60px"></div>
<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275">
    <!-- Grid container -->

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <div class="container mb-3" *ngIf="!authService.isLoggedIn">
        <h3>
          Venez nous rendre visite et laissez-nous vous chouchouter !
      </h3>
      </div>
      <p>  © 2024 Copyright: ANDRIAMAMONJY Fitia Arivony & RANDRIANASOLO Haritiana
        Bryan</p>

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
