<p-toast></p-toast>
<div class="row my-5">
  <div class="col-3"></div>
  <div class="col-6">
    <ng-container *ngIf="editing; else elseTemplate">
      <!-- <app-update-personnel [newEmp]="newEmp"></app-update-personnel> -->
      <div class="p-3 mb-4 bg-light rounded-3">
        <div>
          <h4 class="fw-bold" style="color: #081c4d;">Profil</h4>
        </div>
      </div>
      <div class="container">
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Nom</label>
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              name="inputName"
              id="inputName"
              placeholder="Nom"
              [(ngModel)]="newEmp.nom"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputLastName" class="col-4 col-form-label">Prenom</label>
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              name="inputLastName"
              id="inputLastName"
              placeholder="Prenom"
              [(ngModel)]="newEmp.prenom"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="ddn" class="col-4 col-form-label"
            >Date de naissance</label
          >
          <div class="col-8">
            <input
              type="date"
              class="form-control"
              name="ddn"
              id="ddn"
              placeholder="date de naissance"
              [(ngModel)]="newEmp.dateDeNaissance"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="identifiant" class="col-4 col-form-label"
            >Identifiant</label
          >
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              name="identifiant"
              id="identifiant"
              placeholder="Identifiant"
              [(ngModel)]="newEmp.identifiant"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="cin" class="col-4 col-form-label">Numéro de CIN</label>
          <div class="col-8">
            <input
              type="number"
              class="form-control"
              name="cin"
              id="cin"
              placeholder="Numéro de CIN"
              [(ngModel)]="newEmp.numeroCIN"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="genre" class="col-4 col-form-label">Genre</label>
          <div class="col-8">
            <select
              class="form-select"
              name=""
              id=""
              [(ngModel)]="newEmp.genre"
            >
              <option *ngFor="let genre of genres" [value]="genre._id">
                {{ genre.nomGenre }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="genre" class="col-4 col-form-label">Services</label>
          <!-- <div class=""> -->
          <div class="col-8">
            <div *ngFor="let item of services">
              <ng-container
                *ngIf="newEmp.services.includes(item._id); else elseTemplate"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id=""
                  (click)="add(item._id)"
                  checked
                />
              </ng-container>
              <ng-template #elseTemplate>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id=""
                  (click)="add(item._id)"
                />
              </ng-template>

              <label class="form-check-label" for="">
                {{ item.nom_service }}
              </label>
            </div>
          </div>
          <!-- </div> -->
        </div>

        <div class="mb-3 row">
          <div class="col-4">
            <label for="genre" class="col-form-label">Horaires</label>
            <ng-container *ngIf="editing">
              <div>
                <div class="mb-3">
                  <label for="" class="form-label">Jour</label>
                  <select
                    class="form-select"
                    name=""
                    id=""
                    [(ngModel)]="formHoraire.jour"
                  >
                    <option
                      *ngFor="let item of jourDeLaSemaine; index as id"
                      [value]="id"
                    >
                      {{ item }}
                    </option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Début</label>
                  <input
                    class="form-control"
                    type="time"
                    value=""
                    id=""
                    [(ngModel)]="formHoraire.debut"
                  />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Fin</label>
                  <input
                    class="form-control"
                    type="time"
                    value=""
                    id=""
                    [(ngModel)]="formHoraire.fin"
                  />
                </div>
                <div class="d-grid gap-2">
                  <button
                    type="button"
                    name=""
                    id=""
                    class="btn btn-primary"
                    (click)="addHoraire()"
                  >
                    Ajouter
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-8">
            <div class="table-responsive">
              <p-table
              styleClass="p-datatable-gridlines"
              [value]="newEmp.horaire"
              >
                <ng-template class="table-light" pTemplate="header">
                  <tr>
                    <th>Jour</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th *ngIf="editing"></th>
                  </tr>
                </ng-template>
                <ng-template  pTemplate="body"  let-item >

                    <tr class="table-primary">
                      <td scope="row">{{ jourDeLaSemaine[item.jour] }}</td>
                      <td scope="row">{{ item.debut }}</td>
                      <td scope="row">{{ item.fin }}</td>
                      <td *ngIf="editing">
                        <button class="btn btn-danger" (click)="delete(item)">
                          Supprimer
                        </button>
                      </td>
                    </tr>

                </ng-template>
                <tfoot></tfoot>
              </p-table>
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="offset-sm-4 col-sm-8">
            <button type="submit" class="btn btn-primary" (click)="submit()">
              Enregistrer
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <app-show-personnel
        [newEmp]="newEmp"
        [nomGenre]="nomGenre"
        [services]="services"
      ></app-show-personnel>
    </ng-template>

    <ng-container *ngIf="!editing">
      <button class="btn btn-success" (click)="changeEditing()">
        Modifier
      </button>
    </ng-container>
  </div>
  <div class="col-3"></div>
</div>
