
<p-toast></p-toast>
<div class="mb-3"></div>
<div class="row ">
  <div class="col-lg-3 col-1"></div>
  <div class="col-lg-6 col-10">
    <p-panel header="Mettre à jour cette dépense">

    <div class="form-floating mb-3">
      <input type="date" [(ngModel)]="depense.date_depense" class="form-control" id="date" >
      <label for="date">Nom service</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" (keypress)="onlyNumber($event)" [(ngModel)]="depense.prix" id="prix" >
      <label for="prix">Prix</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" [(ngModel)]="depense.motif" id="motif" >
      <label for="motif">Motif</label>
    </div>
    <input type="submit" class="btn btn-success rounded-pill" value="Valider" (click)="updateDepense()">
  </p-panel>

  </div>
  <div class="col-lg-3 col-1"></div>
</div>



