<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header"><h2>Welcome Manager!!</h2></ng-template>
  <ng-template pTemplate="content">
    <p-panelMenu
      [model]="authService.links"
      [style]="{ width: '300px' }"
    ></p-panelMenu>
  </ng-template>
  <ng-template pTemplate="footer">
    <div>Créé par</div>
    <div class="fw-bold">RANDRIANASOLO Haritiana Bryan</div>
    <div>et</div>
    <div class="fw-bold">ANDRIAMAMONJY Fitia Arivony</div>
  </ng-template>
</p-sidebar>
<div class="card flex justify-content-center"></div>
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <button
      class="btn btn-link"
      style="text-decoration: none"
      *ngIf="authService.isLoggedIn"
      (click)="sidebarVisible = true"
    >
      <i class="pi pi-bars"></i>
    </button>
    <div><h1>Ocean Salon</h1></div>

    <div *ngIf="authService.isLoggedIn">
      <button (click)="logout()" class="btn btn-link" style="text-decoration: none">
        <i class="pi pi-power-off" ></i>
      </button>
    </div>
  </div>
</nav>
