<div class="row">
  <div class="col-4"></div>
  <div class="col-4 my-5">
    <div *ngFor="let item of historique" class="card">
      <div class="card-body">
        <h4 class="card-title">{{item.date_rdv.toLocaleString()}}  <button class="btn btn-danger" style="float: right;" (click)="annulerRdv(item._id)">Annuler</button></h4>
        <!-- <p class="card-text">Text</p> -->
        <ul class="list-group list-group-flush">
          <li *ngFor="let rdv of item.rdv_service" class="list-group-item">{{rdv.id_service.nom_service}}

          </li>

          <!-- <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li> -->
        </ul>
      </div>
    </div>

  </div>
  <div class="col-4"></div>
</div>
