<p-toast></p-toast>
<div class="row ">
  <div class="col-lg-2 col-1"></div>
  <div class="col-lg-8 col-10 ">
    <div class="p-3 mb-4 bg-light rounded-3">
      <div>
        <h4 class="fw-bold" style="color: #081c4d;">Historique des rendez-vous</h4>
      </div>
    </div>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col d-flex" *ngFor="let item of historique">
    <div  class="card shadow mb-3 flex-fill" style="width: 20rem;">
      <div class="card-body">
        <div style="float: right;"  *ngIf="returnCancellable(item.date_rdv)">
          <button  class="btn btn-danger rounded-pill m-1" (click)="annulerRdv(item._id)">Annuler</button>
          <a class="btn btn-warning rounded-pill" [routerLink]="'/rdv/update/' + item._id">Modifier</a>
        </div>
        <div style="float: right;"*ngIf="!returnCancellable(item.date_rdv)">
          <button *ngIf="!item.paye" class="btn btn-success rounded-pill" (click)="payerRdv(item._id)">Payer</button>
          <div *ngIf="item.paye" style="color: rgb(20, 154, 65);">Payé <i class="pi pi-check"></i></div>
        </div>
        <h5 class="card-title">{{item.date_rdv | date : "yyyy-MM-dd HH:mm" }}</h5>
        <!-- <p class="card-text">Text</p> -->
        <!-- <ul class="list-group list-group-horizontal"> -->
          <!-- <li *ngFor="let rdv of item.rdv_service" class="list-group-item"> -->
            <span  *ngFor="let rdv of item.rdv_service"
              class="badge  m-1 rounded-pill" style="background-color: #5E7CE2;"
              >  {{rdv.id_service.nom_service}}</span
            >



          <!-- </li> -->

          <!-- <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li> -->
        <!-- </ul> -->
      </div>
    </div>
  </div>
  </div>
</div>
<div class="col-lg-2 col-1"></div>
</div>
