<div class="container" *ngIf="isLoading" >

  <p-progressSpinner
  [style]="{'margin-top':'200px','border-color':'green'}"
  styleClass="custom-spinner d-flex justify-content-center"
  strokeWidth="8"
  fill="#EEEEEE"

  animationDuration=".5s"

>
</p-progressSpinner>
</div>

<div class="mx-2" *ngIf="!isLoading">


<div class="p-3 mb-4 bg-light rounded-3">
  <div>
    <h4 class="fw-bold">Prendre rendez-vous</h4>
  </div>
</div>
<p-toast></p-toast>
<div class="form-floating mb-3">
  <input
    type="datetime-local"
    class="form-control"
    id="floatingInput"
    style="width: 400px"
    [(ngModel)]="rdv.date_rdv"
    (change)="onChangeDateRDV()"
  />
  <label for="floatingInput">Date du rendez_vous</label>
</div>

<div class="row row-cols-1 row-cols-lg-3">
  <div class="col mb-3">
    <p-table [value]="service" class="shadow rounded" [tableStyle]="{ width: '20rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Service</th>
          <th>Prix</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-serve>
        <tr
          pDraggable
          (onDragStart)="mydragStartServe(serve)"
          (onDragEnd)="mydragEndServe()"
        >
          <td>{{ serve.nom_service }}</td>
          <ng-container *ngIf="(serve.pi !== undefined) && (serve.pi!==serve.prix); else elseTemplate">
            <td> réduit à {{ serve.prix }} prix initial({{ serve.pi }})</td>
          </ng-container>
          <ng-template #elseTemplate>
            <td>{{ serve.prix }}</td>
          </ng-template>

          <td>
            <i
              class="pi pi-arrows-alt"
              style="font-size: 1rem; color: rgb(53, 179, 179)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col">
    <p-table [value]="rdv.rdv_service" [tableStyle]="{ width: '30rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Service</th>
          <th>Prix</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rendez_vous let-rowIndex="rowIndex">
        <tr>
          <td>
            {{ getSelectedEmp(rendez_vous.id_employe).nom }}
            {{ getSelectedEmp(rendez_vous.id_employe).prenom }}
          </td>

          <td>{{ getSelectedService(rendez_vous.id_service).nom_service }}</td>
          <td>
            <span class="badge rounded-pill text-bg-info">{{
              rowIndex + 1
            }}</span>
          </td>
          <td>
            <button (click)="deleteSeance(rendez_vous)" class="btn btn-danger">
              Retirer
            </button>
          </td>

          <td *ngIf="rowIndex != 0; else elsecolumn">
            <button
              class="btn btn-link"
              style="text-decoration: none"
              (click)="monterOrdre(rowIndex)"
            >
              <i class="pi pi-angle-up" style="font-size: 2rem"></i>
            </button>
          </td>

          <td
            *ngIf="
              rowIndex != rdv.rdv_service.length - 1 &&
                rdv.rdv_service.length > 1;
              else elsecolumn
            "
          >
            <button
              class="btn btn-link"
              style="text-decoration: none"
              (click)="descendreOrdre(rowIndex)"
            >
              <i class="pi pi-angle-down" style="font-size: 2rem"></i>
            </button>
          </td>

          <ng-template #elsecolumn>
            <td></td>
            <!-- Content to display when the condition is false -->
          </ng-template>
        </tr>
      </ng-template>
    </p-table>

    <div pDroppable (onDrop)="mydropServe()">
      <p class="text-start surface-border border-bottom-1">
        Mettez le service ici!
      </p>
      <p *ngIf="currentrdv.id_service">
        {{ getSelectedService(currentrdv.id_service).nom_service }}
      </p>
    </div>
    <p-dialog
      header="Choisissez l'employé(e)"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '50vw', height: '300px' }"
      [maximizable]="true"
      (onHide)="hideDialog()"
    >
      <div *ngIf="currentrdv.id_service" class="mb-3">
        <p>
          Le service:{{ getSelectedService(currentrdv.id_service).nom_service }}
        </p>
        <p-autoComplete
          (onSelect)="onSelectEmp($event)"
          [dropdown]="true"
          [suggestions]="filteredEmp"
          (completeMethod)="filterEmp($event)"
          field="nom_prenom"
        ></p-autoComplete>
      </div>
      <button (click)="addSeance()" class="btn btn-success">Ajouter</button>
    </p-dialog>
  </div>
  <div class="col">
    <p-table [value]="reduction" [tableStyle]="{ width: '25rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Offre spéciale</th>
          <th>Service</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reduc let-rowIndex="rowIndex">
        <tr>
          <td>{{ reduc.nomOffreSpeciale }}</td>
          <td>{{ reduc.reduction }} % sur {{ reduc.service.nom_service }}</td>
          <td>
            <input
              type="checkbox"
              checked
              [checked]="this.rdv.reduction.includes(reduc._id)"
              name=""
              id=""
              (click)="updateReductionList(rowIndex)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div></div>

<button (click)="addRdv()" class="btn btn-success">Prendre  rendez-vous</button>
</div>
