<div>
  <h1>Comission de la journée:{{ rdv.total }}</h1>
</div>
<table>
  <thead>
    <th></th>
    <th>Client</th>
    <th>Date de rdv</th>
    <th>Service</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of rdv.rdv">
      <td>
        <input class="form-check-input" [(ngModel)]="item.is_done" (change)="changeChecking(item)" type="checkbox" id="flexCheckDefault">
      </td>
    <td> {{ item.id_client.nom_client }} {{ item.id_client.prenom_client }}</td>
    <td>{{ item.date_rdv | date:'medium' }}</td>

      <td>{{ item.id_service.nom_service }}</td>

     </tr>

  </tbody>
</table>
