<p-toast></p-toast>
<div class="row  my-5">
  <div class="col-lg-4 col-1"></div>
  <div class="col-lg-4 col-10">
    <div class="p-3 mb-4 bg-light rounded-3">
      <div>
        <h4 class="fw-bold" style="color: #081c4d;">Connexion client</h4>
      </div>
    </div>

    <div class="mb-3">
      <label for="Login" class="form-label">Login</label>
      <input
        type="email"
        class="form-control"
        name=""
        id="Login"
        aria-describedby="helpId"
        [(ngModel)]="client.identifiant"
        placeholder="Login"
      />
    </div>
    <div class="mb-3">
      <label for="Login" class="form-label">Mot de passe</label>
      <input
        type="password"
        class="form-control"
        name=""
        id="Login"
        aria-describedby="helpId"
        [(ngModel)]="client.mdp"
        placeholder="Mot de passe"
      />
    </div>
    <div class="d-grid gap-2">
      <button
        type="button"
        name=""
        id=""
        class="btn btn-primary"
        (click)="loginClient()"
      >
        Connexion
      </button>
    </div>

  </div>
  <div class="col-lg-4 col-1"></div>
</div>
